
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat: wght@400;600&display=swap');

body{
    box-sizing:border-box;
    
    background-color: purple;
    color:  #00ffff;
}
.titulo-destaque{
    color: #22d422;
}
*{
    margin:0;
    padding: 0;
}
.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao-conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40 px;
}
.titulo{
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
}
.paragrafo{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}
.link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.primeiro{
    /*background-color: #22D4FD;*/
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 5px solid #22D4FD;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
}
.primeiro:hover{
    background-color: #272727 ;
}
.redes{
    font-family: 'Krona One',sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}
.rodape{
    padding: 24px;
    color: #000000 ;
    background-color: #22D4FD;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}
.linkmenu{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #22d422;
    text-decoration: none ;
}
.cabecalho{
    padding: 2% 0% 0% 15%;
}
.menu{
    display: flex;
    gap: 80px;
}
.imagem{
    width: 50%;
}
@media(max-width:1200px){
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .cabecalho{
        padding: 10%;
    }
    .menu{
        justify-content: center;
    }
    .apresentacao-conteudo{
        width: auto;
    }
}